* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--h1-title: 2.5rem;
	--font-bold: 700;
}

.app {
	height: 100vh;
}

.flex {
	display: flex;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	font-family: 'Inter', 'sans-serif';
	box-sizing: border-box;
	height: 100vh;
}

/* BOX SERVICES  */

.services__container{
	height: 167px;
	width: 232px;
	background-color: #33543D;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.services__icon{
	height: 61px;
	width: 61px;
}

.services__text{
	margin-top: 25px;
	color: white;
	font-weight: 700;
}

/* BOTOES */

button {
  cursor: pointer;
  background: #33543D;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  @include transition(.3s ease);
  &:hover {
    background: darken(#33543D, 15%);
  }
}

.button__container{
  width: 235px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button{
  padding: 15px;
  background-color: #33543D;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.14); 
}

.backButton{
  background-color: #808080;
}

/* FORMS */

.form__input {
display: flex;
align-items: center;
}

.form__input label {
	color: #424242;
	text-align: left;
}